.footer {
  background-color: #333333;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment-delivery {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding-top: 102px;
  padding-bottom: 132px;
  text-decoration: none;
}

.payment-delivery {
  padding-right: 47px;
  margin: 0px;
}

.info a:last-child {
  padding-right: 0px;
  margin: 0px;
}

.info {
  padding-top: 102px;
  padding-bottom: 132px;
}

.soc-image {
  padding-top: 100px;
  padding-bottom: 130px;
}

.telephone_footer {
  padding-top: 102px;
  padding-bottom: 132px;
  position: relative;
}

.tel {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.telephone_footer::before {
  content: "";
  background-image: url('../images/icon_phone_wite.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: 45%;
  margin-top: -10%;
}

.soc-info {
  width: 25px;
  height: 25px;
}

.soc-image a {
  padding-right: 20px;
}

.soc-image a:last-child {
  padding-right: 0px;
}
