
ul.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
}

ul.pagination li a.active {
  font-weight: 700;
  color: #219653;
}